@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lalezar&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pontano Sans", sans-serif;
}

a{
  text-decoration: none;
}
a,
li {
  text-decoration: none;
  list-style-type: none;
}
a:hover,
li:hover {
  text-decoration: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  outline: none;
}

button {
  border: none;
  outline: none;
}

/* font-Property */

.font-size-9 {
  font-size: 9px;
}
.font-size-10 {
  font-size: 10px;
}
.font-size-11 {
  font-size: 11px;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-17 {
  font-size: 17px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-25 {
  font-size: 25px;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
.font-weight-900 {
  font-weight: 900;
}



/* color and background color */
.orange-color {
  color: #ffa500;
}

.green-color {
  color: #59c700;
}

.primary-color {
  color: #0056aa;
}

.yellow-color {
  color: #988039e9;
}

.info-color {
  color: #1c86ee;
}
.red-color {
  color: rgba(212, 32, 32, 0.834);
}

.bg-orange-color {
  background-color: #ffa500;
}

.bg-green-color {
  background-color: #59c700;
}

.bg-primary-color {
  background-color: #0056aa;
}

.bg-info-color {
  background-color: #1c86ee;
}
.button-bg-color {
  background-color: #6b5c5ce8;
}

.grey-color {
  color: #6b5c5ce8;
}

/* rounded and box-shadow */
.rounded-radius-md {
  border-radius: 17px;
}
.rounded-radius-sm {
  border-radius: 6px;
}

.shadow-md {
  box-shadow: 0px 0px 20px #0000001f;
}

/* Navigation Section */
.navbar-brand {
  font-family: "Permanent Marker";
  letter-spacing: 2px;
}
.navbar .btn:hover{
  transition: 0.4s ease-in-out;
  border-radius: 23px;
}

/* hero-section */
.hero-section{
  margin-top: 55px;
}
.hero-section {
   background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/casey-horner-4rDCa5hBlCs-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  height: 675px;
}
.hero-section .hero-section-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-section h1 {
  font-size: 49px;
}
.hero-section .header-forms {
  position: relative;
}
.header-forms {
  max-width: 600px;
}
.header-forms input {
  padding: 5px;
  padding-left: 12px;
  width: 100%;
  position: relative;
}
.hero-btn{
  position: absolute;
  right: 0;
}
/* features-icon */

.features-icon {
  padding:50px 0px 50px;
}
.learn-more-btn .btn:hover{
  background-color: rgb(58, 158, 58);
  color: white;
}
.reausable-span{
  background-color: #0f2593;
  height: 14px;
  display: inline-block;
  width: 13px;
  border-radius: 50%;
}
.responsive-content{
  position: relative;
}
.responsive-content::before{
  position: absolute;
  content: "";
  background-color: #0f2593;
  height: 2px;
  display: inline-block;
  width: 20%;
  top: 48px;
}

.responsive-design img {
  width: 100%;
  height: 400px;
}
/* card-section */
.card-section {
  padding: 30px 0px 20px;
}

.card-body img {
  max-width: 10rem;
  box-shadow: 0px 5px 5px 0px #adb5db;
}

/* footer-section */
.footer-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/siyan-ren-5cwPfMLqYs0-unsplash.jpg);
  background-position: bottom;
  height: 300px;
  background-size: cover;
  position: relative;
}
.footer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-forms-2 {
  position: relative;
  width: 600px;
}
.foot-btn {
  position: absolute;
  right: 0;
  top: 0;
}
.header-forms-2 input {
  padding: 5px;
  font-weight: 500;
  width: 100%;
}
/* copyright-section */
.copyright-section {
  padding: 50px 0px 50px;
}
@media only screen and (max-width: 767px) {
  .navbar-brand {
    font-size: 13px;
    letter-spacing: 1px;
  }
  
  /* hero-section */
  .hero-section {
  height: 450px;
}

  .hero-section .hero-section-body {
    position: absolute;
    top: 50%;
    width: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero-section h1 {
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 22px;
    font-weight: 500;
  }
 
  .hero-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .header-forms input {
    font-size: 13px;
    padding: 5px;
    font-weight: 400;
  }
  .hero-section-body .btn {
    font-size: 13px;
  }
  
  .features-icon {
    padding: 20px 0px 0px;
  }

  .responsive-content::before{
    height: 3px;
    width: 40%;
    top: 46.5px;
  }

  .responsive-design img {
    width: 100%;
    height: 300px;
  }
  .responsive-design p {
    font-size: 14px;
    line-height: 23px;
  }
  
  /* card-section */
  .card-section {
    padding: 30px 0px 3px;
  }

  
  /* footer-section */
  .footer-section {
    height: 300px;
    position: relative;
  }
  .header-forms-2 {
    width: 330px;
  }
  .foot-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header-forms-2 input {
    padding: 5px;
    font-weight: 500;
    width: 100%;
    padding-left: 12px;
  }
 
  /* copyright-section */
  .copyright-section {
    padding: 14px 0px 10px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1224px){

/* hero-section */
.hero-section {
  height: 736px;
}
.hero-section .hero-section-body {
  width: 80%;
}
.hero-section h1 {
  font-size: 20px;
  margin-bottom: 17px;
  font-weight: 500;
}



.features-icon {
  padding: 30px 0px 30px;
}


.responsive-content::before{
  height: 3px;
  width: 60%;
  top: 42.5px;
}

.features-items {
  text-align: center;
}



.responsive-design img {
  width: 100%;
  height: 300px;
}
.responsive-design h2 {
  font-size: 20px;
  font-weight: 500;
}
.responsive-design p {
  font-size: 13px;
  line-height: 25px;
}

/* card-section */
.card-section {
  padding: 20px 0px 10px;
}
.card-section h2 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.card-body img {
  max-width: 8rem;
}
/* footer-section */
.footer-section {
  height: 300px;
  background-size: cover;
  position: relative;
}





/* copyright-section */
.copyright-section {
  padding: 20px 0px 20px;
}
}